        :root{
            --primary-color: #0c71a3;
            --secondary-color: #0a6592;
            --primary-color-rgba: rgba(12,113,163,0.7);
        }



        #segment-4, #segment-5, #segment-2, #segment-3{
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.4em;
        }
        .container-fluid{
          padding: 0;
        }
        @font-face {
            font-family: wildyouth;
            src: url('../font/WildYouth-Regular.otf');
        }
        @font-face {
            font-family: test;
            src: url('../font/BackToBlackBoldDemo.ttf');
        }
        @font-face {
            font-family: logo;
            src: url('../font/TEXWORK.ttf');
        }
        .logo{
            font-size:4em;
            display:inline; 
            padding: 0 5px 5px 5px; 
            color: var(--primary-color); 
            font-family: logo;
        }
        .heading{
            margin: auto;
            display: table;
            padding: 10px 20px 10px 20px;
        }
        .heading span:nth-child(1){
            
            font-family: test;
            font-size: 1.5em;
        }
        .heading span:nth-child(2){
            font-size: 1.5em;
        }
        .row{
            margin: 0;
            width: 100%;
        }
        .triangle-topleft{
            width: 0;
            height: 0;
            margin-top: -2px;
            border-top: 25vh solid white;
            border-right: 98vw solid transparent;
            margin-bottom: 5vh;
        }
        .triangle-topright{
            margin-top: -2px;
            width: 0;
            height: 0;
            float: right;
            border-top: 25vh solid white;
            border-left: 98vw solid transparent;
        }
        .triangle-bottomleft {
            margin-bottom: -1px;
            height: 0;
            float: left;
            border-bottom: 25vh solid white;
            border-right: 98vw solid transparent;
        }
        .triangle-bottomright {
            margin-bottom: -1px;
            height: 0;
            float: right;
            border-bottom: 25vh solid white;
            border-left: 98vw solid transparent;
        }  
        .triangle-bottomleft-half{
            display: inline-block;
            float: left;
            width: 0;
            height: 0;
            margin-bottom: -2px;
            border-bottom: 25vh solid white;
            border-right: 49vw solid transparent;
        }
        .triangle-bottomright-half{
            display: inline-block;
            margin-bottom: -2px;
            float: right;
            width: 0;
            height: 0;
            float: right;
            border-bottom: 25vh solid white;
            border-left: 49vw solid transparent;
        }
        .material-icons{
            font-size: 35px;
        }
        .fa{
            font-size: 25px;
            width:25px;
            border-radius: 50%;
            margin-right: 5px;
        }


        #segment-1{
            background: url('../img/top1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        #segment-1 .row div:nth-child(1){
            min-height:70vh; 
            text-align:left; 
            padding: 5vh 5vw 5vh 5vw;
        }







        #segment-2 .row{
            min-height: 80vh;
            font-size: 0.8em;
        }
        #image-section img{
            border-radius: 50%;
            border: 2px solid white;
            box-shadow: 0px 10px 6px -6px grey;
            margin: auto;
            display: table;
            margin-top: 100px;
        }
        #image-section div{
            display: table;
            margin: auto;
            margin-top: 20px;
        }
        #segment-2 .col-md-6{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        table{
            margin:auto;
            font-size: 0.8em;
        }
        table button{
            border: 2px solid var(--primary-color);
            background: white;
            color: var(--primary-color);
            width:200px;
            border-radius: 2px;
            height: 40px;
            font-weight: bold;
            transition: background 0.5s, color 0.5s;
            -webkit-transition: background 0.5s, color 0.5s;
        }
        button:hover {
            border-width: 0px;
            background: var(--primary-color);
            color: white;
            box-shadow: 0px 10px 6px -6px lightgrey;
        }
        td{
            padding: 10px; 
        }
        #segment-2 .col-md-6{
            text-align: center;
        }

        .col-md-6 p{
           padding-left: 5vw;
           padding-right: 5vw;
           margin: 0;
        }







        #segment-3{
            background: url('../img/experience.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            color: white;
        }
        #segment-3-2{
            color: var(--primary-color);
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
            background: url('../img/segment3.2.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        #segment-3-2 .small-box{
            display: table;
            font-size: 1.4em;
            margin: auto;
            height: 80px;
            width: 80px; 
            border:2px solid white;
            color: white;
            background: var(--primary-color);
            border-radius: 50%;
            box-shadow: 0px 0px 50px 1px #404040;
        }
        #segment-3-2 .large-box{
            color: white;
            display: inline-block;
            font-size: 1.2em;
            padding:20px; 
            border:2px solid white;
            background: var(--secondary-color);
            box-shadow: 0px 0px 50px 2px #404040;
        }
        

        
        


        #segment-4{
            background: url("../img/segment4.jpg");
            color: white;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
        #segment-4-2{
            text-align: center;
            font-size: 1.2em;
        }

        #segment-3 .heading, #segment-4 .heading{
            background: var(--primary-color-rgba);
        }
        #segment-3 .row, #segment-4 .row{
            text-align: center;
        }
        .heading-border{
            padding:10px; 
            border:2px solid var(--primary-color); 
            display: inline-block;
        }
        



        #segment-5{
            background: url('../img/contact.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }
        #segment-5 .row{
            
            background: var(--primary-color-rgba);
            color: white;
        }
        #segment-5 .col-md-4{
            margin-top: 40px;
            margin-bottom: 40px;
            padding-left: 4vw;
            padding-right: 4vw;
            text-align: center;
            font-size: 0.85em;
        }
        
        .col-md-4:hover .material-icons{
            border: 1px solid white;
            border-radius: 50%
        }
        #segment-5 .heading{
            margin-bottom: 10vh;
        }
        #segment-5 .material-icons{
            padding: 10px;
        }
        #segment-5 .heading + div{
            color: white;
            font-size: 1em;
            display: table;
            margin: auto;
            text-align: center;
            margin-bottom: 5vh;
            border: 1px solid white;
            padding:5vh;
            padding-left: 10vw;
            padding-right: 10vw;
            border-radius: 5px;
        }
        
        




        #segment-4-2 .material-icons{
            font-size: 30px;
        }
        
        
        .cards{
            display:none;
            width: 80vw;
            border: 1px solid grey;
            box-shadow: 0px 0 15px 2px lightgrey;
            border-radius: 2px;
            padding: auto;
            font-size: 0.55em; 
        }
        .cards div{
            margin: 10px;
        }

        #slides{
            margin-top: 80px;
            margin-bottom: 40px;
        }
        
        #left-control, #right-control{
            background: none;
            margin-bottom: 80px;
            border: 2px solid  grey;
            min-height: 40pxfont-family: wildyouth;
            font-weight: bold;;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            color: grey;
        }
        #left-control:hover, #right-control:hover{
            box-shadow: 0px 0px 5px 5px lightgrey;
            background: grey;
            color: white;
            border: 2px solid white;
        }
        #left-control{
            margin-right: 5vw;
        }
        




        .footer{
            width:100%; 
            background: var(--secondary-color);
            padding: 5vh;
            color: white;
            text-align: center;
        }
        .footer > span{
            padding: 5px;
        }
        
        @media screen and (min-width: 500px) {
            .cards{
                 width:65vw;
                 font-size: 0.6em;
                height: 160px;
            }
            .heading{
                font-size: 1.5em;
            }
            #segment-2 .row{
               font-size: 0.9em;
            }
            table{
                font-size: 0.9em;
            }
            #segment-5 .heading + div{
                font-size: 1.15em;
            }
           
        }
        @media screen and (min-width: 750px) {
            .cards{
                 width:60vw;
                font-size: 0.65em;
                height: 170px;
            }
            .heading{
                font-size: 1.6em;
            }
            #segment-2 .row{
               font-size: 0.95em;
            }
            table{
                font-size: 0.9em;
            }
            #segment-2 img{
                width:125px;
            }
            #quote-text{
                text-align: center;
                float: none;
                font-size: 1.2em;
            }
            #segment-5 .heading + div{
                font-size: 1.25em;
            }
            #segment-1{
                background: url('../img/top.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        @media screen and (min-width: 950px) {
            .cards{
                 width:55vw;
                font-size: 0.7em;
                
            }
            .heading{
                font-size: 1.75em;
            }
            #segment-2 .row{
               font-size: 1em;
            }
            table{
                font-size: 1.0em;
            }
            #quote-text{
                text-align: left;
                float: right;
                font-size: 1.3em;
            }
            #segment-5 .heading + div{
                font-size: 1.35em;
            }
            
        }

        @media screen and (min-width: 1200px) {
            .cards{
                width:55vw;
                font-size: 0.8em;
            }
            .heading{
                font-size: 2em;
            }
            #segment-5 .col-md-4{
                font-size: 1em;
            }
            .material-icons{
                font-size: 40px;
            }
            #segment-2 .row{
               font-size: 1.05em;
            }
            table{
                font-size: 1.0em;
            }
            #segment-2 img{
                width:140px;
            }
            #segment-5 .heading + div{
                font-size: 1.5em;
            }
            
        }
        