        #segment-4, #segment-5, #segment-2, #segment-3{
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 1.4em;
        }
        .container-fluid{
          padding: 0;
        }
        @font-face {
            font-family: wildyouth;
            src: url('../font/WildYouth-Regular.otf');
        }
        @font-face {
            font-family: test;
            src: url('../font/BackToBlackBoldDemo.ttf');
        }
        .heading{
            margin: auto;
            display: table;
            padding: 10px 20px 10px 20px;
        }
        .heading span:nth-child(1){
            
            font-family: test;
            font-size: 1.5em;
        }
        .heading span:nth-child(2){
            font-size: 1.5em;
        }
        .row{
            margin: 0;
            width: 100%;
        }
        .triangle-topleft{
            width: 0;
            height: 0;
            margin-top: -2px;
            border-top: 25vh solid white;
            border-right: 98vw solid transparent;
            margin-bottom: 5vh;
        }
        .triangle-bottomright {
            margin-bottom: -1px;
            height: 0;
            float: right;
            border-bottom: 25vh solid white;
            border-left: 98vw solid transparent;
        }  



        #segment-1{
            background: url('../img/top.jpg');
            background-size: cover;
            background-position: center;
        }
        #segment-1 .row{
            padding: 3vh 3vw 3vh 3vw;
        }
        #quote-text{
            margin-right: 2.5vw;
            margin-top: 5vh;
            color: white;
            font-family: 'Raleway', sans-serif;
            font-family: wildyouth;
            padding:20px; 
            background: linear-gradient(to left, rgba(111, 122, 137,0.5) , rgba(12,113,163,0.5));
        }
        #quote-text #part-1{
            font-size: 3em;
            font-weight: bold;
        }
        #quote-text #part-2{
            font-size: 4em;
        }
        #quote-text #part-3{
            font-size: 1.5em;
        }







        #segment-2 .row{
            min-height: 80vh;
            font-size: 0.8em;
        }
        #image-section img{
            border-radius: 50%;
            border: 2px solid white;
            box-shadow: 0px 10px 6px -6px grey;
            margin: auto;
            display: table;
            margin-top: 100px;
        }
        #image-section div{
            display: table;
            margin: auto;
            margin-top: 20px;
        }
        #segment-2 .col-md-6{
            margin-top: 50px;
            margin-bottom: 50px;
        }
        table{
            margin:auto;
            font-size: 0.8em;
        }
        table button{
            border: 2px solid #0c71a3;
            background: white;
            color: #0c71a3;
            width:200px;
            border-radius: 2px;
            height: 40px;
            font-weight: bold;
            transition: background 0.5s, color 0.5s;
            -webkit-transition: background 0.5s, color 0.5s;
        }
        button:hover {
            border-width: 0px;
            background: #0c71a3;
            color: white;
            box-shadow: 0px 10px 6px -6px lightgrey;
        }
        td{
            padding: 10px; 
        }
        #segment-2 .col-md-6{
            text-align: center;
        }

        .col-md-6 p{
           padding-left: 5vw;
           padding-right: 5vw;
           margin: 0;
        }







        #segment-3{
            background: url('../img/experience.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            color: white;
        }
        #segment-3-content{
            margin-top: 50px;
            width: 100%;
        }
        #segment-3-content div{
            padding: 10px;
            text-align: center;
            font-weight: normal;
            margin-bottom: 30px;
            font-size: 1em;
        }
        #segment-3-content span{
            font-size: 0.8em;
        }
        #segment-3 .triangle-topright{
            margin-top: -2px;
            width: 0;
            height: 0;
            float: right;
            border-top: 25vh solid white;
            border-left: 98vw solid transparent;
        }
        #segment-3 .triangle-bottomleft {
            margin-bottom: -1px;
            height: 0;
            float: left;
            border-bottom: 25vh solid white;
            border-right: 98vw solid transparent;
        }
        #segment-3-2{
            color: #0c71a3;
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
        }
        #segment-3-2 .small-box{
            display: table;
            font-size: 1.4em;
            margin: auto;
            height: 80px;
            width: 80px; 
            border:2px solid white;
            color: white;
            background: #0c71a3;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 2px #0c71a3;
        }
        #segment-3-2 .large-box{
            display: inline-block;
            font-size: 1.2em;
            padding:20px; 
            border:2px solid #0c71a3;
           
        }
        
        
        


        #segment-4{
            background: url("../img/segment4.jpg");
            color: white;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
        }
        #segment-4-2{
            text-align: center;
            font-size: 1.2em;
        }

        #segment-3 .heading, #segment-4 .heading{
            background: linear-gradient(to left, rgba(111, 122, 137,0.7) , rgba(12,113,163,0.7));
        }
        #segment-3 .row, #segment-4 .row{
            text-align: center;
        }
        .heading-border{
            padding:10px; 
            border:2px solid rgba(111, 122, 137,0.7); 
            display: inline-block;
        }
